@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

html {
  font-size: 18px;
  font-family: 'Ubuntu Mono', monospace;
}

body {
  color: var(--fg);
  background-color: var(--bg);
}

body.dark {
  color: var(--dark-fg);
  background-color: var(--dark-bg);
}

:root {
  --wayland-yellow: #F4B60B;
  --bg: #f5f5f5;
  --fg: #1B1B1B;
  --dark-fg: #E5E5E5;
  --dark-bg: #262626;
}

#container {
  max-width: 850px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: flex-start;
  padding: 0 3%;
}

.logo img {
  max-width: 150px;
  margin: auto;
}

.content {
  max-width: 600px;
}

.content__logo {
  width: 360px;
  max-width: 90vw;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

ul ul li:before {
  content: "- ";
  color: var(--wayland-yellow);
}

.active {
  font-weight: 700;
}

a {
  color: var(--wayland-yellow);
  text-decoration: none;
  border-bottom: 1px dashed;
}

.members {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.member {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member a {
  border: none;
}

.member img {
  max-width: 100px;
  border-radius: 50%;
}

.dark-mode-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  height: 8px;
  color: inherit;
}

.dark-mode-toggle .fa-toggle-on {
  display: none;
}

.dark .dark-mode-toggle .fa-toggle-on {
  display: inline;
}

.dark .dark-mode-toggle .fa-toggle-off {
  display: none;
}

@media all and (max-width: 600px) {
  #container {
    margin: 15px 0;
    gap: 0;
  }

  header {
    width: 100%;
    text-align: center;
  }

  header ul {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: var(--wayland-yellow);
}

::-webkit-scrollbar-thumb:hover {
  background: #dda813;
}
