@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

html {
  font-size: 18px;
  font-family: "Ubuntu Mono", monospace;
}

body {
  color: var(--fg);
  background-color: var(--bg);
}

body.dark {
  color: var(--dark-fg);
  background-color: var(--dark-bg);
  --code-block: #363636;
  --wayland-yellow: #f4b60b;
  --scrollbar-bg: #3d3b3b;
  --scrollbar-bg-hover: #dda813;
}

:root {
  --wayland-yellow: #e9ab00;
  --bg: #f5f5f5;
  --fg: #1b1b1b;
  --dark-fg: #e5e5e5;
  --dark-bg: #262626;
  --code-block: #e7e7e7;
  --scrollbar-bg: #e0e0e0;
  --scrollbar-bg-hover: #dda813;
}

#container {
  max-width: 850px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: flex-start;
  padding: 0 3%;
}

header nav ul li {
  margin: 2px 0;
}

.fa-solid,
.fa-brands {
  color: inherit;
  font-size: 0.8em;
  text-align: center;
  width: 1.1em;
}

.logo img {
  max-width: 150px;
  margin: auto;
}

.content {
  max-width: 600px;
}

.content__logo {
  width: 360px;
  max-width: 90vw;
}

img {
  max-width: 95vw;
}

body.dark img {
  filter: brightness(0.9) contrast(1.1);
}

ul {
  padding: 0;
}

nav h3 {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

ul ul li:before {
  content: "- ";
  color: var(--wayland-yellow);
}

.active {
  font-weight: 700;
}

a {
  color: var(--wayland-yellow);
  text-decoration: none;
  border-bottom: 1px dashed;
}

code {
  font-family: "Ubuntu Mono", monospace;
  display: inline-block;
  background-color: var(--code-block);
  border-radius: 5px;
  padding: 0.2em;
  margin: 3px 0;
}

pre {
  white-space: normal;
  background-color: var(--code-block);
  padding: 0.6em;
  border-radius: 5px;
}

pre code {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

.members {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.member {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member a {
  border: none;
}

.member img {
  max-width: 100px;
  border-radius: 50%;
}

.dark-mode-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 21px;
  color: inherit;
}

.dark-mode-toggle:focus {
  outline: none;
}

.dark-mode-toggle i {
  font-size: 20px;
}

.dark-mode-toggle .fa-toggle-on {
  display: none;
}

.dark .dark-mode-toggle .fa-toggle-on {
  display: inline;
}

.dark .dark-mode-toggle .fa-toggle-off {
  display: none;
}

@media all and (max-width: 600px) {
  #container {
    margin: 15px 0;
    gap: 0;
  }

  header {
    width: 100%;
    text-align: center;
  }

  header ul {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--wayland-yellow);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-bg-hover);
}
