<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="transition duration-300 bg-[#f5f5f5] dark:bg-[#262626] font-['UbuntuMonoRegular'] text-lg text-[#1b1b1b] dark:text-[#e5e5e5]">
  <container class="p-6 flex md:flex-row gap-6 justify-center flex-col">

  {{ partial "header.html" . }}
  <main class="min-w-0 md:max-w-2xl">
    {{ block "main" . }}{{ end }}
  </main>
  </container>
</body>
</html>
